.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* box */
.boxed {
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto !important;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .4), inset 0 0 2px rgba(255, 255, 255, .75);
}
/* boxed */
    /* navbar */
    .dropdown-menu:li {
        text-align: left;
    }
    
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; 
     }
    /* endbar */
     /*blog banner */
     .hero {
        background-color: #fff;
        background-image: url("img/13.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      
      .hero__content {
        padding: 10rem 3rem;
        text-align: left;
      }
      
      body {
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
        font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
        text-align: center;
      }
      
      .header {
        background-color: #232439;
        padding: 10rem 7rem;
        text-align: center;
      }
      .header a {
        margin-top: 0rem;
        display: block;
        color: #6ddce5;
        font-size: 0.85rem;
        text-decoration: none;
      }
      
      .header__title {
        margin: 0;
        color: #fff;
        font-weight: 300;
      }
      .header {
        background-color: #232439;
        padding: 2rem 7rem;
        text-align: center;
    }
      
       /*blog end banner */
         /* blog */
       .hovereffect{
        height: 177px;
        margin: auto;
        overflow: hidden;
        width: 250px;
        transition: all 1s ease 0s;
    }
    .z-img{
        position: relative;
        height: 176px;
        border: 1px solid black;
        width: 250px;
    }
    .z-img img{
        width: 100%;
        height: 100%;
        transition: all 0.6s ease 0s;
    }
    .hovereffect:hover .z-img img{
        transform: scale(1.9);
    }
    .z-text{
        background: rgba(0, 0, 0, 10);
        position: absolute;
        width: 250px;
        height: 176px;
        border: 1px solid gray;
        top: -199px;
        z-index: 1111;
        display: none;
        color: white;
        text-align: center;
        padding: 10px;
        border: 1px solid white;
    
    }
       /* endblog */
       
    /* banner image subpage wedding */

  

    .banner_home img {
        /* position: relative; */
        width: 100%;
        height: 250px;
    }

    .clear {
        clear: both;
    }

 

    .carousel-control.left {
        background: transparent;
    }

    .carousel-control.right {
        background: transparent;
    }

    .carousel-control {
        width: inherit;
    }

    .banner_hotels_all h1 {
        font-size: 20px;
        font-family: RadikalW01-Bold;
        color: #ff523f;
        text-transform: uppercase;
        letter-spacing: 4px;
        padding-bottom: 30px;
    }
    .item{
        width:100%;
        height: 250px;
    }
    
/* element.style {
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 600;
} */
/* .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: 550px;
} */
   
    /* banner image end subpage wedding */

    /* multiple images sub page */
    .single_portfolio_text{
        height: 200px;
    }
    * {
        padding: 0;
        margin: 0;
        -webkit-transition: 1s;
        transition: 1s;
    }

    .clrd-font {
        background: #FF512F;
        background: -webkit-linear-gradient(to right, #F09819, #FF512F);
        background: linear-gradient(to right, #F09819, #FF512F);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .btn-primary {
        background-color: transparent;
        color: #fff;
        border: 2px solid #fff;
        font-size: 20px;
        text-transform: uppercase;
        border-radius: 0px;
    }

    .btn-primary:hover {
        background-color: transparent;
        border-color: #d6962c;
        color: #d6962c;
        border-radius: 20px;
    }

    .single_portfolio_text {
        display: inline-block;
        padding: 0;
        position: relative;
        overflow: hidden;
    }

    .single_portfolio_text img {
        width: 100%;
    }

    .single_portfolio_text:hover .portfolio_images_overlay {
        top: 5%;
        left: 5%;
    }

    .portfolio_images_overlay {
        width: 90%;
        height: 90%;
        background: rgba(0, 0, 0, 0.8);
        padding: 20px;
        margin: 0 auto;
        top: -100%;
        left: 5%;
        position: absolute;
        transition: .6s;

    }

    .portfolio_images_overlay h6 {
        text-transform: uppercase;
        color: #fff;
        font-size: 30px;
        font-weight: 900;
        border: 2px solid #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .portfolio_images_overlay .product_price {
        font-size: 35px;
        color: #fff;
        font-weight: 800;
        line-height: 30px;
    }

    .portfolio_images_overlay .product_price i {
        margin-right: -10px;
    }

    .zoom {
        width: 200px;
        height: 200px;
        position: absolute;
        bottom: -100px;
        right: -100px;
        border-radius: 50%;

        background: #FF512F;
        background: -webkit-linear-gradient(to right, #F09819, #FF512F);
        background: linear-gradient(to right, #F09819, #FF512F);
        box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.5);
        opacity: 0.9;
    }

    .zoom:before {
        content: "\f00e";
        font-family: FontAwesome;
        color: rgba(255, 255, 255, 0.5);
        font-size: 70px;
        padding-right: 20px;
        position: absolute;
        top: 10px;
        left: 30px;
    }

    /* end image suppage  wedding*/
      /* reviewin home page*/
   
.tcb-quote-carousel{
    background: #f9f9f9;
    padding-top: 30px;
    margin-top: 40px;
}
    .quote{
        color: rgba(0,0,0,.1);
        text-align: center;
        margin-bottom: 30px;
    }    
    /* .carousel {
      /* padding-bottom: 60px; */
    /* }  */

        .carousel-indicators > li {
          background-color: #333;
          border: none;
        }

    blockquote {
        margin-top: 15px;
        text-align: center;
        border: none;
    }
    .profile-circle {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 100px;
    }

.carousel-fade .carousel-inner  .item {
            transition-property: opacity;
        }
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }
        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }
        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    

    /* review home page*/
   
   /*service 2*/
   @import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,700);
   html {
     font-size: 16px;
   }
   
   h3 {
     font-family: 'Lato', sans-serif;
     /* font-size: 2.125rem; */
     font-weight: 700;
     /* color: #444; */
     /* letter-spacing: 1px; */
     /* text-transform: uppercase; */
     margin: 55px 0 35px;
   }
   
   /* a {
     color: #ddd;
     text-transform: capitalize;
     font-size: 24px;
   } */
   a:hover {
     color: #ccc;
     text-decoration: none;
   }
   
   .carousel-inner {
     margin: auto;
     width: 100%;
   }
   
   .carousel-control {
     width: 12%;
   }
   
   .carousel-control.left,
   .carousel-control.right {
     background-image: none;
   }
   
   .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
     margin-top: -10px;
     margin-left: -10px;
     color: #444;
   }
   
   .carousel-inner a {
     display: table-cell;
     height: 180px;
     width: 250px;
     vertical-align: middle;
   }
   .carousel-inner img {
     height: 150px;
     margin: auto auto;
     width: 100%;
   }
   
   @media (max-width: 767px) {
     .carousel-inner > .item.next,
     .carousel-inner > .item.active.right {
       left: 0;
       -webkit-transform: translate3d(100%, 0, 0);
       transform: translate3d(100%, 0, 0);
     }
   
     .carousel-inner > .item.prev,
     .carousel-inner > .item.active.left {
       left: 0;
       -webkit-transform: translate3d(-100%, 0, 0);
       transform: translate3d(-100%, 0, 0);
     }
   }
   @media (min-width: 767px) and (max-width: 992px) {
     .carousel-inner > .item.next,
     .carousel-inner > .item.active.right {
       left: 0;
       -webkit-transform: translate3d(50%, 0, 0);
       transform: translate3d(50%, 0, 0);
     }
   
     .carousel-inner > .item.prev,
     .carousel-inner > .item.active.left {
       left: 0;
       -webkit-transform: translate3d(-50%, 0, 0);
       transform: translate3d(-50%, 0, 0);
     }
   }
   @media (min-width: 992px) {
     .carousel-inner > .item.next,
     .carousel-inner > .item.active.right {
       left: 0;
       -webkit-transform: translate3d(16.7%, 0, 0);
       transform: translate3d(16.7%, 0, 0);
     }
   
     .carousel-inner > .item.prev,
     .carousel-inner > .item.active.left {
       left: 0;
       -webkit-transform: translate3d(-16.7%, 0, 0);
       transform: translate3d(-16.7%, 0, 0);
     }
   }
   